* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #121b24;
  font-family: "Inter";
}

input:focus {
  border: none;
  outline: none;
}

textarea:focus {
  border: none;
  outline: none;
}

.inactive {
  font-weight: 500;
}
